{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block moreheaders %}
 <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.7.3/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.7.3/summernote.js"></script>
{% endblock %}

{% block page_title %}SynNP - Assay{% endblock %}
{% block content %}


<div class="container">
    <h3>Assay</h3>
{% crispy form form.helper %}
<script>
    $(document).ready(function() {
        console.log($('#summernoteTextArea'))
        $('.summernoteTextarea').each(function (){
          $(this).summernote();
        })
    });

</script>
</div>

{% endblock %}
