{% extends "base.html" %}

{% load staticfiles %}



{% block page_title %}SynNP{% endblock %}

{% block content %}

<div class="container">

    <h3>{% block page_headtitle %}SynNP - Pathways{% endblock %}</h3>


    <table id="table"
               data-toggle="table"
               data-pagination="true"
               data-sort-name="name"
               data-search="true"
               data-advanced-search="true"
               data-id-table="idTable"
               data-show-toggle="true"
               data-detail-view="true"
               data-show-columns="true"
               data-mobile-responsive="true"
               data-cookie="true"
               data-show-export="true"
               data-sort-order="desc"
               data-url="/autotable?model={% block model %}{% endblock %}&fields={% block fields %}{% endblock %}"
            >
            <thead>
            <tr>
            {% block table_headers %} {% endblock %}
            </tr>
            </thead>
      </table>
</div>


{% endblock %}