{% extends "base.html" %}

{% load staticfiles %}


{% block page_title %}SynNP - Register{% endblock %}


{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock css %}



{% block content %}
<form class="form-signin" method="post" action=".">
       <h2 class="form-signin-heading">Register here</h2>
       {% csrf_token %}
       
       <input type="text" id="id_username" class="form-control" placeholder="User name" autofocus name="username" required />

       <input id="id_email" class="form-control" placeholder="Email" name="email" type="email" required />
       
       <input type="password" id="id_password1" class="form-control" name="password1" placeholder="Password" required />
       
       <input type="password" id="id_password2" class="form-control" name="password2" placeholder="Same password again" required />
       
       <input class="btn btn-lg btn-primary btn-block" type="submit" class="form-control" value="Register" />

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-warning">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-warning">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
 </form>
{% endblock %}

